<div class="property-gallery" data-aos="fade-up" data-aos-delay="200">
  <div class="main-image-container image-zoom-container">
    <img class="img-fluid main-property-image" [src]="images()[activeIndex()]" alt="Room photo" />

    <div class="image-nav-buttons">
      <button class="image-nav-btn prev-image" type="button" (click)="prev()" [disabled]="activeIndex() === 0">
        <i class="bi bi-chevron-left"></i>
      </button>

      <button class="image-nav-btn next-image" type="button" (click)="next()"
        [disabled]="activeIndex() === images().length - 1">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  </div>

  <div class="thumbnail-gallery thumbnail-list">
    @for (img of images(); track $index) {
    <div class="thumbnail-item" [class.active]="$index === activeIndex()" (click)="setActive($index)">
      <img [src]="img" alt="thumb" class="img-fluid">
    </div>
    }
  </div>
</div>