<div class="property-gallery" data-aos="fade-up" data-aos-delay="200">
  <div class="main-image-container image-zoom-container">
    <img
      id="main-product-image"
      src="assets/img/real-estate/property-exterior-3.webp"
      alt="Property Exterior"
      class="img-fluid main-property-image"
      data-zoom="assets/img/real-estate/property-exterior-3.webp"
    />
    <div class="image-nav-buttons">
      <button class="image-nav-btn prev-image" type="button">
        <i class="bi bi-chevron-left"></i>
      </button>
      <button class="image-nav-btn next-image" type="button">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  </div>
  <div class="thumbnail-gallery thumbnail-list">
    <div
      class="thumbnail-item active"
      data-image="assets/img/real-estate/property-exterior-3.webp"
    >
      <img
        src="assets/img/real-estate/property-exterior-3.webp"
        alt="Property Exterior"
        class="img-fluid"
      />
    </div>
    <div
      class="thumbnail-item"
      data-image="assets/img/real-estate/property-interior-1.webp"
    >
      <img
        src="assets/img/real-estate/property-interior-1.webp"
        alt="Living Room"
        class="img-fluid"
      />
    </div>
    <div
      class="thumbnail-item"
      data-image="assets/img/real-estate/property-interior-2.webp"
    >
      <img
        src="assets/img/real-estate/property-interior-2.webp"
        alt="Kitchen"
        class="img-fluid"
      />
    </div>
    <div
      class="thumbnail-item"
      data-image="assets/img/real-estate/property-interior-3.webp"
    >
      <img
        src="assets/img/real-estate/property-interior-3.webp"
        alt="Master Bedroom"
        class="img-fluid"
      />
    </div>
    <div
      class="thumbnail-item"
      data-image="assets/img/real-estate/property-exterior-4.webp"
    >
      <img
        src="assets/img/real-estate/property-exterior-4.webp"
        alt="Garden View"
        class="img-fluid"
      />
    </div>
    <div
      class="thumbnail-item"
      data-image="assets/img/real-estate/property-interior-4.webp"
    >
      <img
        src="assets/img/real-estate/property-interior-4.webp"
        alt="Bathroom"
        class="img-fluid"
      />
    </div>
    <div
      class="thumbnail-item"
      data-image="assets/img/real-estate/property-interior-5.webp"
    >
      <img
        src="assets/img/real-estate/property-interior-5.webp"
        alt="Dining Room"
        class="img-fluid"
      />
    </div>
    <div
      class="thumbnail-item"
      data-image="assets/img/real-estate/property-exterior-5.webp"
    >
      <img
        src="assets/img/real-estate/property-exterior-5.webp"
        alt="Front View"
        class="img-fluid"
      />
    </div>
    <div
      class="thumbnail-item"
      data-image="assets/img/real-estate/property-interior-6.webp"
    >
      <img
        src="assets/img/real-estate/property-interior-6.webp"
        alt="Guest Room"
        class="img-fluid"
      />
    </div>
    <div
      class="thumbnail-item"
      data-image="assets/img/real-estate/property-interior-7.webp"
    >
      <img
        src="assets/img/real-estate/property-interior-7.webp"
        alt="Office Space"
        class="img-fluid"
      />
    </div>
    <div
      class="thumbnail-item"
      data-image="assets/img/real-estate/property-exterior-6.webp"
    >
      <img
        src="assets/img/real-estate/property-exterior-6.webp"
        alt="Side View"
        class="img-fluid"
      />
    </div>
    <div
      class="thumbnail-item"
      data-image="assets/img/real-estate/property-interior-8.webp"
    >
      <img
        src="assets/img/real-estate/property-interior-8.webp"
        alt="Balcony"
        class="img-fluid"
      />
    </div>
  </div>
</div>
